#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno

#
# Top-level generic files
#
/tags
/TAGS
/linux
/vmlinux
/vmlinuz
/System.map
/Module.markers
/Module.symvers

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
!.mailmap

#
# Generated include files
#
include/config
include/linux/version.h
include/generated
arch/*/include/generated

# stgit generated dirs
patches-*

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

*.orig
*~
\#*#

cts/
dalvik/
development/
external/alsa-lib/
external/alsa-utils/
external/apache-http/
external/astl/
external/bison/
external/blktrace/
external/bluetooth/
external/bouncycastle/
external/bsdiff/
external/bzip2/
external/chromium/
external/clearsilver/
external/dbus/
external/dhcpcd/
external/dnsmasq/
external/dropbear/
external/e2fsprogs/
external/easymock/
external/elfcopy/
external/elfutils/
external/embunit/
external/emma/
external/esd/
external/expat/
external/fdlibm/
external/freetype/
external/fsck_msdos/
external/genext2fs/
external/giflib/
external/grub/
external/gtest/
external/guava/
external/icu4c/
external/iproute2/
external/ipsec-tools/
external/iptables/
external/jdiff/
external/jhead/
external/jpeg/
external/jsr305/
external/junit/
external/kernel-headers/
external/libffi/
external/libgsm/
external/libnfc-nxp/
external/libpcap/
external/libpng/
external/libvpx/
external/libxml2/
external/mtpd/
external/netcat/
external/netperf/
external/neven/
external/nist-sip/
external/oauth/
external/openssl/
external/oprofile/
external/ping/
external/ppp/
external/proguard/
external/protobuf/
external/qemu/
external/quake/
external/safe-iop/
external/skia/
external/sonivox/
external/speex/
external/sqlite/
external/srec/
external/stlport/
external/strace/
external/svox/
external/tagsoup/
external/tcpdump/
external/tinyxml/
external/tremolo/
external/tslib/
external/v8/
external/webkit/
external/xmlwriter/
external/yaffs2/
external/zlib/
frameworks/

Makefile
Readme
bionic/
bootable/
build/
jdk1.6.0_23/
libcore/
ndk/
out/
packages/
prebuilt/
rootfs_dir/
sdk/
setenv
vendor/

